{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--<div class=" p-5 " style="margin-top:80px;text-align:center;">
    <h1 class="my-3" style="text-align: left;color:rgb(247,94,97);;">QUI SOMMES NOUS</h1>
    <p style="text-align: left;;">
        Association des Volontaires Solidaires du Togo est une association de volontaires acceptant de mettre leurs forces ensemble, connaissances et temps au service du développement et de l’intégrité générale de la société.<br>
AVS-TOGO est une Organisation Non Gouvernementale et humanitaire à but non lucratif basant ses activités sur la coopération et la solidarité réciproques. Ses membres sont des jeunes étudiants, élèves, artisans qui ont en commun la motivation, la vocation et la détermination à bâtir un monde socialement efficace, plus viable, avec un environnement plus sein.<br>
AVS-TOGO s’engage aux côtés de l’Etat togolais et d’autres Organisations nationales et internationales afin d’apporter sa contribution dans les domaines : l’éducation, la santé, l’environnement et la culture (promouvoir la valeur culturelle de l’Afrique en générale, et en particulier celle du Togo) à la constitution de ce grand édifice qu’est le développement de notre pays, le Togo.<br>
AVS-TOGO amènera la jeunesse à positiver leurs pensées et à mettre toutes leurs énergies dans la construction d’un monde absolu.<br>
AVS-TOGO œuvre dans les domaines sociaux, l’éducation, alphabétisation et la formation de la jeunesse, la protection de l’environnement, la promotion d’une agriculture écologique, la construction et la rénovation d’édifices d’intérêt public et communautaire à savoir, dispensaires, bibliothèques, écoles, toilettes publics.<br>
La préoccupation majeure de AVS-TOGO est la promotion d’une forme de vie meilleure fondée sur la solidarité mutuelle pour une plus grande justice sociale. La santé des populations et l’épanouissement de la jeunesse sans distinction de sexe ni de race occupent une place de choix dans nos programmes. AVS-TOGO est une association qui participe activement à l’amélioration des conditions de vie des plus démunis au Togo. Elle s’appuie sur une démarche de développement durable en sensibilisant le plus possible la population locale
    </p>

    <h4 style="text-align: left;" class="mt-4 mb-1">BUTS</h4>
    <p style="text-align: left;">
        Association des Volontaires Solidaires du Togo à pour but de défendre le droit à l’éducation des enfant, d’améliorer les conditions <br> sanitaires des populations rurales,de préserver l’environnement et de promouvoir la culture togolaise.
    </p>


    <div class="mt-5">
        <h1 class="my-3" style="text-align: left;color:rgb(247,94,97);;">NOTRE EQUIPE DE BENEVOLE</h1>
    </div>
</div>-->


<div class="p-5 ">
    <h1 class="text-center font-weight-bold">AVST TOGO « ACTIONS VOLONTAIRES POUR LA SURVIE DE LA TERRE »</h1>

<section class='mt-5'>

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row ">
        <div class="col-lg-6 order-1 order-lg-2" >
          <img src="{% static 'img/forage.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6  pt-lg-0 order-2 order-lg-1 content shadow-lg pt-4 d-flex flex-column justify-content-center align-items-center " style="background:white;padding:50px;">
          
          <h5 class="mt-3">
            C’est une jeune association de loi 1901 créée le 31 Août 2017, suite à la rencontre 
            de <span class="font-weight-bold">Polycarpe AMEKOTOU et Kossi Woboube AZIATO.</span> Ils ont tous deux été par le passé membres au sein d’autres associations et le 
            fonctionnement parfois déviant de ces dernières les a encouragés à créer AVST-TOGO.
          </h5>
          
          <h5 class="mt-2">
            Depuis, les membres de l’association défendent les valeurs qui constituent 
            le fondement de l’engagement volontaire et solidaire international :<span class="font-weight-bold"> la solidarité, 
            l’égalité,
             la liberté, la laïcité, l’engagement et l’universalité.</span>
          </h5>
        </div>
      </div>

    </div>
  </section>
</main>
</section>



<section class='mt-5'>

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" >
          <div class="row ">
            
            <div class="col-lg-6  pt-lg-0 order-2 order-lg-1 content  pt-4 d-flex flex-column justify-content-center align-items-center" style="background:white;padding:50px;">  
              <h5 class="mt-2 text-center">
                L’association se situe dans le quartier d’Adidogomé à Lomé. Elle est 
                gérée au quotidien par Aziato (le président) et les bénévoles locaux,
                 chargé de l’accompagnement des volontaires pendant la durée de leur séjour
              </h5>
              <div class="mx-auto p-2 mt-5 d-flex align-items-center justify-content-center mt-2 shadow-lg" style="display:flex;align-items:center;justify-content:center;border-radius:5px;height:50px;width:280px;background:rgb(32,33,43);display:flex;align-items:center;justify-content:center; " >
                <div class=" mx-auto  d-flex align-items-center justify-content-center" style="display:flex;align-items:center;justify-content:center;">
                    <a  href="{% url 'vie' %}" style="text-decoration:none;"><p style="color:white;;margin:auto">VIE QUOTIDIENNE</p></a>
                </div>
            </div>
            </div>

            <div class="col-lg-6 order-1 order-lg-2" >
                <img src="{% static 'img/cours.jpg' %}" class="img-fluid" alt="">
              </div>

          </div>
    
        </div>
      </section>
    </main>
    </section>

    <h1 class="font-weight-bold mt-5 mb-3 text-center">Nos Missions</h1>

    <h4 class="text-justify mx-auto m " style='background:transparent'>
        <style>
            
        
            
        </style>
        La mission première d’AVST-TOGO est d’agir pour <span class="font-weight-bold">la préservation de 
        l’environnement</span>, en mettant en place des projets éco responsables. En amorçant des prises de conscience, l’association contribue à apporter un changement des mentalités tout en essayant de créer <span class="font-weight-bold">des activités génératrices de revenus pour les plus démunis.</span> AVST-TOGO a également à cœur de faire découvrir la diversité de la 
        <span class="font-weight-bold">culture
         togolaise</span> à ses bénévoles (gastronomie, musique, danse, découverte du pays).
    </h4>

    
    <!-- Modal gallery -->
<section class="mt-5">
    <!-- Section: Images -->
    <section class="">
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="{% static 'img/distribution.jpg' %}"
              class="w-100"
            />
            <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal1">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>
  
        <div class="col-lg-4 mb-4 mb-lg-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="{% static 'img/bois.png' %}"
              class="w-100"
            />
            <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal2">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>
  
        <div class="col-lg-4 mb-4 mb-lg-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="{% static 'img/regroupement.jpg' %}"
              class="w-100"
            />
            <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal3">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Images -->
  
    <!-- Section: Modals -->
    <section class="">
      <!-- Modal 1 -->
      <div
        class="modal fade"
        id="exampleModal1"
        tabindex="-1"
        aria-labelledby="exampleModal1Label"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="ratio ratio-16x9">
              <iframe
                src="https://www.youtube.com/embed/A3PDXmYoF5U"
                title="YouTube video"
                allowfullscreen
              ></iframe>
            </div>
  
            <div class="text-center py-3">
              <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal 2 -->
      <div
        class="modal fade"
        id="exampleModal2"
        tabindex="-1"
        aria-labelledby="exampleModal2Label"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="ratio ratio-16x9">
              <iframe
                src="https://www.youtube.com/embed/wTcNtgA6gHs"
                title="YouTube video"
                allowfullscreen
              ></iframe>
            </div>
  
            <div class="text-center py-3">
              <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal 3 -->
      <div
        class="modal fade"
        id="exampleModal3"
        tabindex="-1"
        aria-labelledby="exampleModal3Label"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="ratio ratio-16x9">
              <iframe
                src="https://www.youtube.com/embed/vlDzYIIOYmM"
                title="YouTube video"
                allowfullscreen
              ></iframe>
            </div>
  
            <div class="text-center py-3">
              <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Modals -->
  </section>
  <!-- Modal gallery -->

  <h1 class='text-center my-5 font-weight-bold'>Nos Actions</h1>
  <div class='row justify-content-around p-5' style='background:rgb(32,33,43);padding-top:0px;'>
    <div class='column my-3' style='display:flex;flex-direction:column;justify-content:space-between;align-items:center;'>
        <div class='shadow-lg d-flex align-items-center justify-content-center' style='shadow-color:white;width:150px;height:150px;border-radius:50%;background:white;' >
          <svg xmlns="http://www.w3.org/2000/svg" width="86" height="86" fill="currentColor" class="bi bi-globe-americas" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484-.08.08-.162.158-.242.234-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"/>
          </svg>
        </div>

        <h4  class='text-white text-center my-3 font-weight-bold'>ENVIRONNEMENT</h4>
        <ul>
            <li class='text-center'>Gestion des déchet<br>(collecte et tri ,sensibilisation)
          </li>
            <li class='text-center'>Construction de latrines <br>écologiques</li>
            <li class='text-center'>Création d’un potager agro-écologique</li>
            <li class='text-center'>Forages de puits</li>
        </ul>
    </div>

    <div class='column my-3' style='display:flex;flex-direction:column;justify-content:space-between;align-items:center;'>
        <div class=' shadow-lg d-flex align-items-center justify-content-center' style='width:150px;height:150px;border-radius:50%;background:white;' >
          <svg xmlns="http://www.w3.org/2000/svg" width="86" height="86" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
          </svg>
        </div>

        <h4  class='text-white text-center my-3 font-weight-bold'>SOCIAL</h4>
        <ul>
            <li class='text-center'>Soutien scolaire</li>
            <li class='text-center'>Accompagnement éducatif et psychologique<br> des enfants et adultes</li>
            <li class='text-center'>Création d’activités <br>génératrices de revenus <br>pour les femmes de village</li>
            
        </ul>
    </div>

    <div class='column my-3' style='display:flex;flex-direction:column;justify-content:space-between;align-items:center;'>
        <div class='d-flex align-items-center justify-content-center' style='width:150px;height:150px;border-radius:50%;background:white;' >
          <svg xmlns="http://www.w3.org/2000/svg" width="86" height="86" fill="currentColor" class="bi bi-airplane-engines" viewBox="0 0 16 16">
            <path d="M8 0c-.787 0-1.292.592-1.572 1.151A4.347 4.347 0 0 0 6 3v3.691l-2 1V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.191l-1.17.585A1.5 1.5 0 0 0 0 10.618V12a.5.5 0 0 0 .582.493l1.631-.272.313.937a.5.5 0 0 0 .948 0l.405-1.214 2.21-.369.375 2.253-1.318 1.318A.5.5 0 0 0 5.5 16h5a.5.5 0 0 0 .354-.854l-1.318-1.318.375-2.253 2.21.369.405 1.214a.5.5 0 0 0 .948 0l.313-.937 1.63.272A.5.5 0 0 0 16 12v-1.382a1.5 1.5 0 0 0-.83-1.342L14 8.691V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v.191l-2-1V3c0-.568-.14-1.271-.428-1.849C9.292.591 8.787 0 8 0ZM7 3c0-.432.11-.979.322-1.401C7.542 1.159 7.787 1 8 1c.213 0 .458.158.678.599C8.889 2.02 9 2.569 9 3v4a.5.5 0 0 0 .276.447l5.448 2.724a.5.5 0 0 1 .276.447v.792l-5.418-.903a.5.5 0 0 0-.575.41l-.5 3a.5.5 0 0 0 .14.437l.646.646H6.707l.647-.646a.5.5 0 0 0 .14-.436l-.5-3a.5.5 0 0 0-.576-.411L1 11.41v-.792a.5.5 0 0 1 .276-.447l5.448-2.724A.5.5 0 0 0 7 7V3Z"/>
          </svg>
        </div>

        <h4  class='text-white text-center my-3 font-weight-bold'>STAGES</h4>
        <ul>
            <li class='text-center'>Nous proposons également des stages <br>grâce à notre réseau de partenaires : <br>micro finance, comptabilité, environnement,<br> santé, commerce, éducation <br>spécialisée, droit, psychologie <br>et génie civil.</li>
           
        </ul>
    </div>


    

  </div>

  <h1 class='font-weight-bold my-5 ob'>Nos Objectifs</h1>
  <div class='row w-full  justify-content-around'>
    
    <div class='m-2 g d-flex justify-content-center align-items-center' style="background:url({% static 'img/enfant.jpg' %});background-size:cover;min-width:500px;height:500px;">
        
        <div class='w-100 h-100 d-flex justify-content-center align-items-center' style="background:rgba(0,0,0,0.5);">
          <h1 class='text-white text-center'>Developper une <br>conscience collective</h1>
        </div>
    </div>
    <div class='m-2 g d-flex justify-content-center align-items-center' style="background:url({% static 'img/collecte.jpg' %});min-width:500px;height:500px;">
        <div class='w-100 h-100 d-flex justify-content-center align-items-center' style="background:rgba(0,0,0,0.5);">
          <h1 class='text-white text-center'>Sensibiliser la <br>population<br> au prix des dechets</h1>
        </div>
    </div>
    <div class='m-2 g d-flex justify-content-center align-items-center' style="background-repeat:no-repeat;background-size:cover;background:url({% static 'img/perma.jpg' %});min-width:500px;height:500px;">
        <div class='w-100 h-100 d-flex justify-content-center align-items-center' style="background:rgba(0,0,0,0.5);">
          <h1 style="color:black" class='text-white text-center '>Soutenir et promouvoir<br> la permaculture</h1>
        </div>
    </div>
    <div class='m-2 g d-flex justify-content-center align-items-center c' style="background:url({% static 'img/ris.jpeg' %});min-width:500px;height:500px;">
      <div class='w-100 h-100 d-flex justify-content-center align-items-center' style="background:rgba(0,0,0,0.5);">
        <h1 class='text-white text-center'>Mettre en place <br>des activitees<br> socio-culturelles avec <br>les enfants<br> defavorises </h1>
      </div>
        
    </div>

    <style>
        
        @media only screen and (max-width: 1000px) {
            
            .g{
                width:2000000000000px;
                background:red; 
                border:1px solid red;
                
                
            }
          }
    </style>
  </div>

  <h1 class='mt-5 font-weight-bold nm'>Nos Moyens d'actions</h1>
  <div class='row p-5 justify-content-between '>

    <div class='m-4 d-flex justify-content-center align-items-center p-5' style='background:rgb(195,166,115);width:210px;height:140px;'>
        <h5 class='text-center text-black'>Acceuil de volontaire etrangers</h5>
    </div>
    <div class='m-4 d-flex justify-content-center align-items-center p-5' style='background:rgb(209,198,178);width:210px;height:140px;'>
        <h5 class='text-center text-black'>Implanter des latrines ecologiques</h5>
    </div>
    <div class='m-4 d-flex justify-content-center align-items-center p-5' style='background:rgb(149,172,148);width:210px;height:140px;'>
        <h5 class='text-center text-black'>Triporteur pour collecter les dechets</h5>
    </div>

    <div class='m-4 d-flex justify-content-center align-items-center p-5' style='background:rgb(195,166,115);width:210px;height:140px;'>
        <h5 class='text-center text-black'>Sensibilisation dans les écoles</h5>
    </div>
    <div class='m-4 d-flex justify-content-center align-items-center p-5' style='background:rgb(209,198,178);width:210px;height:140px;'>
        <h5 class='text-center text-black'>Création d’une ferme agroécologique AVST</h5>
    </div>
    <div class='m-4 d-flex justify-content-center align-items-center p-5' style='background:rgb(149,172,148);width:210px;height:140px;'>
        <h5 class='text-center text-black'>Création de compost et poubelles de tri dans les écoles</h5>
    </div>

    <div class='m-4 d-flex justify-content-center align-items-center p-5' style='background:rgb(195,166,115);width:210px;height:140px;'>
        <h5 class='text-center text-black'>Mise en place de poubelles de tri collectives</h5>
    </div>
    <div class='m-4 d-flex justify-content-center align-items-center p-5' style='background:rgb(209,198,178);width:210px;height:140px;'>
        <h5 class='text-center text-black'>IProjection de films pour les enfants défavorisés</h5>
    </div>


    
    
    </div>
    
   
    
   
    <div class="mx-auto p-2 mt-5 d-flex align-items-center justify-content-center mt-2 shadow-lg" style="display:flex;align-items:center;justify-content:center;border-radius:5px;height:50px;width:280px;background:rgb(32,33,43);display:flex;align-items:center;justify-content:center;;border-radius:30px; " >
        <div class=" mx-auto  d-flex align-items-center justify-content-center" style="display:flex;align-items:center;justify-content:center">
            <a  href="#" style="text-decoration:none; "><p style="color:white;;margin:auto">Nous Soutenir</p></a>
        </div>
    </div> 
  
    
    <h1 class='font-weight-bold mt-5 mb-3' >L'equipe</h1>
    <style>
      .mgi{
        width:60vw;
        height:100vh;
      }
      @media only screen and (max-width: 900px) {
                
        .mgi{
            height:100vh;
            width:100vw;
            /*display:none;*/
            border:0px solid red;
      }
      }
    </style>

    <div class="d-flex justify-content-center align-items-center ">
      <img class='mgi' src="{% static 'img/wisdom.png' %}" style="" />
    </div>
 

    <!--<div class='row justify-content-around align-item-center ' style=''>
        <div class='m-5 '>
            <img class='shadow-lg mx-auto' src="{% static 'img/tourisme.jpg' %}" style='width:150px;height:150px;border-radius:50%;' />
            <h3 class='text-center'>Jr Stan</h3>
        </div>
       

        <div class='m-5'>
            <img class='shadow-lg' src="{% static 'img/tourisme.jpg' %}" style='width:150px;height:150px;border-radius:50%;' />
            <h3 class='text-center'>Jr Stan</h3>
        </div>

        <div class='m-5'>
            <img class='shadow-lg' src="{% static 'img/tourisme.jpg' %}" style='width:150px;height:150px;border-radius:50%;' />
            <h3 class='text-center'>Jr Stan</h3>
        </div>


        <div class='m-5'>
            <img class='shadow-lg' src="{% static 'img/tourisme.jpg' %}" style='width:150px;height:150px;border-radius:50%;' />
            <h3 class='text-center'>Jr Stan</h3>
        </div>

        

        <div class='m-5' >
            <img class='shadow-lg' src="{% static 'img/tourisme.jpg' %}" style='width:150px;height:150px;border-radius:50%;' />
            <h3 class='text-center'>Jr Stan</h3>
        </div>

       

        <div class='m-5'>
            <img class='shadow-lg' src="{% static 'img/tourisme.jpg' %}" style='width:150px;height:150px;border-radius:50%;' />
            <h3 class='text-center'>Jr Stan</h3>
        </div>

        <div class='m-5'>
            <img class='shadow-lg' src="{% static 'img/tourisme.jpg' %}" style='width:150px;height:150px;border-radius:50%;' />
            <h3 class='text-center'>Jr Stan</h3>
        </div>


        <div class='m-5'>
            <img class='shadow-lg' src="{% static 'img/tourisme.jpg' %}" style='width:150px;height:150px;border-radius:50%;' />
            <h3 class='text-center'>Jr Stan</h3>
        </div>

        <div class='m-5'>
            <img class='shadow-lg' src="{% static 'img/tourisme.jpg' %}" style='width:150px;height:150px;border-radius:50%;' />
            <h3 class='text-center'>Jr Stan</h3>
        </div>


        <div class='m-5'>
            <img class='shadow-lg' src="{% static 'img/tourisme.jpg' %}" style='width:150px;height:150px;border-radius:50%;' />
            <h3 class='text-center'>Jr Stan</h3>
        </div>

    </div>-->

    <h1 class='text-center my-5 font-weight-bold' style='font-size:5vw;'>AVST et le << volontourisme >></h1>

    <p class='my-5' style="font-size:20px;">
      Conscient des dérives existantes du « volontourisme », AVST-TOGO s’engage pour un volontariat solidaire et responsable. En ce sens l’association est référencée par France Volontaires, ce qui lui permet d’affirmer sa volonté d’agir dans le respect des valeurs qu’elle défend.<br><br>

      Chez AVST-TOGO nous tenons à être transparents sur les termes que nous utilisons. Nous attirons votre attention sur un point, vous constaterez que beaucoup d’associations au Togo qualifient leurs missions « d’humanitaires » dont voici la définition : « des opérations d’assistance matérielle et humaine pour venir en aide à des personnes subissant les contrecoups de catastrophes naturelles et de guerres ». Force est de constater que les missions au Togo n’entrent heureusement pas dans ce cadre-là mais qu’il s’agit plutôt d’aide au développement.<br><br>
      
      En effet, la stabilité politique et climatique du pays nous permet d’agir sans être dans l’urgence d’événements incontrôlables.
      
      Cependant, il y a toute fois des réalités environnementales et économiques qui poussent aujourd’hui AVST-TOGO à se mobiliser afin d’agir pour préserver l’environnement, pour permettre aux populations togolaises de vivre dans de meilleurs conditions sanitaires.
    </p>

</div>

{% endblock %}