{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="single">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="single-content">
                    <h3 class="'text-center my-3">Modifier La Categorie {{ categorie.nom }}</h3>
                    
                    <form class=" g-3 needs-validation"  action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
    
                        <div class="col-12 my-2">
                          <label for="yourUsername" class="form-label">Nom</label>
                          <div class="input-group has-validation">
                            <input type="text" value='{{ categorie.nom }}' name="nom"  class="form-control"  required>
                            <div class="invalid-feedback">Choisissez une image de couverture.</div>
                          </div>
                        </div>
    
                        <div class="col-12">
                          <button class="btn btn-primary w-20 my-2" type="submit">Enregistrer</button>
                        </div>
    
                      </form>

                </div>
                
                
                

                
                
            </div>

            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="sidebar-widget">
                        <div class="search-widget">
                            <form action="{% url 'blog' %}">
                                <input name='query' class="form-control" type="text" placeholder="Chercher un Article">
                                <button class="btn"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>

                    <div class="sidebar-widget">
                        <h2 class="widget-title">Article Recent</h2>
                        <div class="recent-post">
                            {% for art in article_recent %}
                            <div class="post-item">
                                <div class="post-img">
                                    <img src="/media/{{ art.poster }}" />
                                </div>
                                <div class="post-text">
                                    <a href="{% url 'single-blog' art.id %}">{{ art.titre }}</a>
                                    <div class="post-meta">
                                        <p>Par<a href="">{{ art.auteur }}</a></p>
                                        <p>In<a href="">Volontaire</a></p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>

                    

                    
                                
                                
                                
                    <div class="sidebar-widget">
                        <h2 class="widget-title">Article Populaire</h2>
                            
                            <div class="tab-content">
                                <div id="popular" class="container tab-pane active">
                                    {% for art in article_populaire %}
                                    <div class="post-item">
                                        <div class="post-img">
                                            <img src="/media/{{ art.poster }}" />
                                        </div>
                                        <div class="post-text">
                                            <a href="{% url 'single-blog' art.id %}">{{ art.titre }}</a>
                                            <div class="post-meta">
                                                <p><a href="">{{ art.categorie.nom }}</a></p>
                                                
                                            </div>
                                        </div>
                                    </div>  
                                    {% endfor %}
                                </div>

                                
                                
                            </div>
                        </div>
                    </div>

                    

                    <div class="sidebar-widget">
                        <h2 class="widget-title">Categories</h2>
                        <div class="category-widget">
                            <ul>
                                {% for categorie in categories %}
                                <a href="{% url 'blog' %}?categorie={{categorie.id}}"><li>{{ categorie.nom }}</a><span>({{categorie.article_set.all.count}})</span></li></a>
                                
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    

                    

                    
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}