{% extends 'base.html' %}


{% block content %}
<div class="p-5">
    <h1 class="mb-4 text-center">PARRAINAGE</h1><br>
    <p>« Parrainer un enfant abandonné, orphelin ou des rues au TOGO, c’est lui donner un sens à sa vie pour un avenir meilleur ».</p><br>
    <p>Plusieurs évènements sociaux engendrent des conséquences dramatiques sur les structures socio-économiques  des pays en voie de développement et ces conséquences nous laissent comme héritage un grand nombre d’enfants abandonnés, orphelins ou des rues. Ainsi laissés à leur sort, ils sont affectés dans leur développement, leur éducation, leur alimentation, leur santé…mais aussi dans leur équilibre psychologique. Ces enfants subissent les conséquences de tous ces bouleversements</p><br>
    <p>Un projet de parrainage des enfants abandonnés, orphelins  ou des rues  représente l’un des nos projets d’aide et de développement durable et permet d’améliorer les conditions de vie des enfants abandonnés, orphelins ou des rues et de les insérer dans la construction de bases réelles et durables pour un développement durable basé sur la participation de la population locale.</p><br>
    <p>Cela consiste à la prise en charge financière d’un enfant abandonné, orphelin ou des rues pendant une année minimum et jusqu’à l’âge de la majorité si vous le pouvez.Grâce à cette aide, vous lui permettez de manger à sa faim, de se vêtir décemment, d’aller à l’école, de se soigner et de le sauver des grands dangers de la rue.</p><br>

    <h3 class="mt-2"> MIEUX COMPRENDRE L’OPERATION PARRAINAGE  D’UN  ENFANTS  TOGOLAIS  1 € / JOUR </h3><br>

        

        <p>
            <a class="btn btn-primary" style="background:#20212B;"  data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                QUESTION 1 : En quoi consiste l’opération parrainage d’un enfant togolais ?
            </a>
            <!--<button style="background:#20212B;" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Button with data-target
            </button>-->
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                REPONSE 1 : L’opération  parrainage d’un enfant togolais consiste en une prise en charge entière d’un enfant qui, suite à la mort de ses parents, des conflits familiaux, de famine, des catastrophes naturelles…se retrouve abandonné à son sort dans la rue.
            </div>
        </div>

        <br>

        <p>
            <a class="btn btn-primary" style="background:#20212B;"  data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                QUESTION 2 : Quelles sont les démarches à suivre pour parrainer un enfant ?
            </a>
            <!--<button style="background:#20212B;" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Button with data-target
            </button>-->
        </p>
        <div class="collapse" id="collapseExample2">
            <div class="card card-body">
                REPONSE 2: Toute personne qui s’engage à parrainer un enfant abandonné, orphelin, des rues doit prendre contact avec l’association AVS-TOGO. Cette dernière dispose d’une base de données d’enfants sans famille, des rues. La personne choisira l’enfant qu’elle souhaitera parrainer. Cependant, elle remplira et signera la convention d’engagement de parrainage qui donne des renseignements sur les droits et devoirs mutuels du parrain, de l’enfant et de l’association.
            </div>
        </div>

        <br>

        <p>
            <a class="btn btn-primary" style="background:#20212B;"  data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
                QUESTION 3 : Comment un enfant sans famille ou des rues vit avec le parrainage ?
            </a>
            <!--<button style="background:#20212B;" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Button with data-target
            </button>-->
        </p>
        <div class="collapse" id="collapseExample3">
            <div class="card card-body">
                REPONSE 3 : Grâce à l’argent du parrainage qui constitue le budget de l’enfant, la AVS-TOGO  l’insérera dans une famille d’accueil ou dans un centre d’hébergement. Il sera suivi quotidiennement par la AVS-TOGO pour son assistance éducative (l’inscrire à l’école ou dans un centre de formation), pour l’assistance sanitaire (s’il est malade), et enfin pour l’assistance vestimentaire. Des comptes rendus réguliers seront transmis aux parrains. Et le parrain peut même apporter des propositions en vue d’améliorer le parrainage.
            </div>
        </div>

        <br>

        <p>
            <a class="btn btn-primary" style="background:#20212B;"  data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">
                QUESTION 4 : Est-ce que le parrain doit adopter l’enfant sans famille ou des rues ?
            </a>
            <!--<button style="background:#20212B;" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Button with data-target
            </button>-->
        </p>
        <div class="collapse" id="collapseExample4">
            <div class="card card-body">
                REPONSE 4 : L’opération parrainage n’est absolument pas une adoption d’enfant ni une mise en place dans une famille d’accueil à l’étranger. L’enfant parrainé sera pris en charge par la AVS-TOGO  dans la localité où il est recensé.
            </div>
        </div>



        <br>

        <p>
            <a class="btn btn-primary" style="background:#20212B;"  data-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample">
                QUESTION 5 : Est-ce que le parrain peut être en contact avec l’enfant parrainé ?
            </a>
            <!--<button style="background:#20212B;" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Button with data-target
            </button>-->
        </p>
        <div class="collapse" id="collapseExample5">
            <div class="card card-body">
                REPONSE 5 : Selon les principes de l’opération parrainage de la AVS-TOGO, tout contact entre le parrain et l’enfant se fait par l’intermédiaire de la AVS-TOGO
            </div>
        </div>


        <br>

        <p>
            <a class="btn btn-primary" style="background:#20212B;"  data-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample">
                QUESTION 6 : Pourquoi le montant de l’opération parrainage à la AVS-TOGO est-il fixé à 1Euro par jour ?
            </a>
            <!--<button style="background:#20212B;" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Button with data-target
            </button>-->
        </p>
        <div class="collapse" id="collapseExample6">
            <div class="card card-body">
                REPONSE 6 : La AVS-TOGO a fixé le montant à 1Euro par jour pour un enfant car, selon une étude réalisée par notre équipe, cette somme permettrait de prendre entièrement un enfant en charge au TOGO.
            </div>
        </div>


        <br>

        <p>
            <a class="btn btn-primary" style="background:#20212B;"  data-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample">
                QUESTION 7 : Qui peut parrainer un enfant à la AVS-TOGO?
            </a>
            <!--<button style="background:#20212B;" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Button with data-target
            </button>-->
        </p>
        <div class="collapse" id="collapseExample7">
            <div class="card card-body">
                REPONSE 7 : Peut parrainer un enfant à la AVS-TOGO toute personne physique ou morale  qui dispose de moyens nécessaires pour parrainer un enfant
            </div>
        </div>


        <br>

        <p>
            <a class="btn btn-primary" style="background:#20212B;"  data-toggle="collapse" href="#collapseExample8" role="button" aria-expanded="false" aria-controls="collapseExample">
                QUESTION 8 : Qu’est-ce que le contrat d’engagement de l’opération parrainage ?
            </a>
            <!--<button style="background:#20212B;" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Button with data-target
            </button>-->
        </p>
        <div class="collapse" id="collapseExample8">
            <div class="card card-body">
                REPONSE 8 : Le contrat d’engagement est une fiche qui renseigne sur les modalités et les conditions de l’opération parrainage: des renseignements sur l’état civil du parrain et de l’enfant, les raisons qui ont poussé à la mise en place de ce parrainage. Les signataires de cette fiche sont le responsable de l’opération parrainage de la AVS-TOGO et le ou les parrain(s) concerné(s).
            </div>
        </div>

        <br>

        <p>
            <a class="btn btn-primary" style="background:#20212B;"  data-toggle="collapse" href="#collapseExample9" role="button" aria-expanded="false" aria-controls="collapseExample">
                QUESTION 9 : Combien d’enfants pourra-t-on parrainer?
            </a>
            <!--<button style="background:#20212B;" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Button with data-target
            </button>-->
        </p>
        <div class="collapse" id="collapseExample9">
            <div class="card card-body">
                REPONSE 9 : On peut parrainer autant d’enfants que l’on veut si on en a les moyens. Il suffit de faire les mêmes démarches
            </div>
        </div>


        <br>

        <p>
            <a class="btn btn-primary" style="background:#20212B;"  data-toggle="collapse" href="#collapseExample10" role="button" aria-expanded="false" aria-controls="collapseExample">
                QUESTION 10 : Combien de personnes peuvent parrainer un même enfant ?
            </a>
            <!--<button style="background:#20212B;" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Button with data-target
            </button>-->
        </p>
        <div class="collapse" id="collapseExample10">
            <div class="card card-body">
                REPONSE 10 : Avec la AVS-TOGO, un enfant  a droit seulement à un seul parrain.
            </div>
        </div>


        <br>

        <p>
            <a class="btn btn-primary" style="background:#20212B;"  data-toggle="collapse" href="#collapseExample11" role="button" aria-expanded="false" aria-controls="collapseExample">
                QUESTION11 : Combien de temps peut  durer le parrainage d’un enfant ?
            </a>
            <!--<button style="background:#20212B;" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Button with data-target
            </button>-->
        </p>
        <div class="collapse" id="collapseExample11">
            <div class="card card-body">
                REPONSE 11 : Selon le principe de cette opération, la durée minimum d’engagement pour parrainer un enfant est de 1 an, mais au delà, il n’y a aucune limitation
            </div>
        </div>

        <br>

        <h3 class="text-center">«TOUS ENSEMBLE POSITIVONS NOS PENSEES A  TRAVERS NOS ACTIONS HUMANITAIRES »</h3>
    </div>



{% endblock %}