{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="single">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="single-content">
                    <img src="/media/{{ article.poster }}" />
                    <div class='d-flex' style=''>
                        <h2 class=''>{{ article.titre }}</h2>
                        {% if request.user.is_authenticated %}
                            <h3 class='mx-5 my-0'><a href="{% url 'modifier-blog' article.id %}">Modifier</a></h3>
                        {% endif %}
                    </div>
                    <p>
                        

                        {% autoescape off %}
                        {{ article.contenu  }}
                        {% endautoescape %}
                    </p>
                </div>
                <div class="single-tags">
                    {% for tag in tags %}
                    <a href="">{{ tag.nom }}</a>
                    {% endfor %}
                    <!--<a href="">National</a>
                    <a href="">International</a>
                    <a href="">Economics</a>
                    <a href="">Politics</a>
                    <a href="">Lifestyle</a>
                    <a href="">Technology</a>
                    <a href="">Trades</a>-->
                </div>
                <div class="single-bio">
                    <div class="single-bio-img">
                        <img src="{% static 'img/user.webp' %}" />
                    </div>
                    <div class="single-bio-text">
                        <h3>{{ article.auteur }}</h3>
                        <p>
                            Salut a tous,je suis un Passioner du Volontariat 
                        </p>
                    </div>
                </div>

                <!--<div class="single-related">
                    <h2>Article Similaire</h2>
                    <div class="owl-carousel related-slider">
                        {% for article in article_similaire %}
                        <div class="post-item">
                            <div class="post-img">
                                <img src="{% static 'img/user.webp' %}" />
                            </div>
                            <div class="post-text">
                                <a href="{% url 'single-blog' article.id %}">{{ article.contenu|slice:'20' }}</a>
                                <div class="post-meta">
                                    <p>Par<a href="">{{ article.auteur }}</a></p>
                                    <p><a href="">Volontariat</a></p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        

                        
                    </div>
                </div>-->

                <div class="single-comment">
                    <h2>{{ article.comment_set.all.count }} Commentaire(s)</h2>
                    <ul class="comment-list">
                        {% for commentaire in article.comment_set.all %}
                        <li class="comment-item">
                            <div class="comment-body">
                                <div class="comment-img">
                                    <img src="{% static 'img/user.webp' %}" />
                                </div>
                                <div class="comment-text">
                                    <h3><a href="">{{ commentaire.nom_auteur }}</a></h3>
                                    <span>{{ commentaire.creaed }}</span>
                                    <p>
                                        {{ commentaire.contenu }} 
                                    </p>
                                    
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                        <!--<li class="comment-item">
                            <div class="comment-body">
                                <div class="comment-img">
                                    <img src="img/user.jpg" />
                                </div>
                                <div class="comment-text">
                                    <h3><a href="">Josh Dunn</a></h3>
                                    <p><span>01 Jan 2045 at 12:00pm</span></p>
                                    <p>
                                        Lorem ipsum dolor sit amet elit. Integer lorem augue purus mollis sapien, non eros leo in nunc. Donec a nulla vel turpis tempor ac vel justo. In hac platea dictumst. 
                                    </p>
                                    <a class="btn" href="">Reply</a>
                                </div>
                            </div>
                            <ul class="comment-child">
                                <li class="comment-item">
                                    <div class="comment-body">
                                        <div class="comment-img">
                                            <img src="img/user.jpg" />
                                        </div>
                                        <div class="comment-text">
                                            <h3><a href="">Josh Dunn</a></h3>
                                            <p><span>01 Jan 2045 at 12:00pm</span></p>
                                            <p>
                                                Lorem ipsum dolor sit amet elit. Integer lorem augue purus mollis sapien, non eros leo in nunc. Donec a nulla vel turpis tempor ac vel justo. In hac platea dictumst. 
                                            </p>
                                            <a class="btn" href="">Reply</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>-->
                    </ul>
                </div>
                <div class="comment-form">
                    <h2>Laisser un commentaire</h2>
                    <form method='post'>
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">Nom *</label>
                            <input type="text" class="form-control" id="name" required name='nom'>
                        </div>
                        
                        

                        <div class="form-group">
                            <label for="message">Message *</label>
                            <textarea id="message" cols="30" rows="5" class="form-control" required name='contenu'></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Commenter" class="btn btn-custom">
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="sidebar-widget">
                        <div class="search-widget">
                            <form action="{% url 'blog' %}">
                                <input name='query' class="form-control" type="text" placeholder="Chercher un article">
                                <button class="btn"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>

                    <div class="sidebar-widget">
                        <h2 class="widget-title">Article Recent</h2>
                        <div class="recent-post">
                            {% for article in article_recent %}
                            <div class="post-item">
                                <div class="post-img">
                                    <img src="/media/{{ article.poster }}" />
                                </div>
                                <div class="post-text">
                                    <a href="">{{ article.titre }}</a>
                                    <div class="post-meta">
                                        <p>Par<a href="">{{ article.auteur }}</a></p>
                                        
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!--<div class="post-item">
                                <div class="post-img">
                                    <img src="img/post-2.jpg" />
                                </div>
                                <div class="post-text">
                                    <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                    <div class="post-meta">
                                        <p>By<a href="">Admin</a></p>
                                        <p>In<a href="">Web Design</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="post-item">
                                <div class="post-img">
                                    <img src="img/post-3.jpg" />
                                </div>
                                <div class="post-text">
                                    <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                    <div class="post-meta">
                                        <p>By<a href="">Admin</a></p>
                                        <p>In<a href="">Web Design</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="post-item">
                                <div class="post-img">
                                    <img src="img/post-4.jpg" />
                                </div>
                                <div class="post-text">
                                    <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                    <div class="post-meta">
                                        <p>By<a href="">Admin</a></p>
                                        <p>In<a href="">Web Design</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="post-item">
                                <div class="post-img">
                                    <img src="img/post-5.jpg" />
                                </div>
                                <div class="post-text">
                                    <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                    <div class="post-meta">
                                        <p>By<a href="">Admin</a></p>
                                        <p>In<a href="">Web Design</a></p>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>

                    <!--<div class="sidebar-widget">
                        <div class="image-widget">
                            <a href="#"><img src="img/blog-1.jpg" alt="Image"></a>
                        </div>
                    </div>-->

                    <div class="sidebar-widget">
                        <h2 class="widget-title">Article Populaire</h2>
                            <div class="tab-content">
                                <div id="popular" class="container tab-pane active">
                                    {% for art in article_populaire %}
                                    <div class="post-item">
                                        <div class="post-img">
                                            <img src="/media/{{ art.poster }}" />
                                        </div>
                                        <div class="post-text">
                                            <a href="{% url 'single-blog' art.id %}">{{ art.titre }}</a>
                                            <div class="post-meta">
                                                <p><a href="">{{ art.categorie.nom }}</a></p>
                                                
                                            </div>
                                        </div>
                                    </div>  
                                    {% endfor %}
                                </div>

                                

                                
                                
                            </div>
                        </div>
                    </div>


                    

                    <div class="sidebar-widget">
                        <h2 class="widget-title">Categories</h2>
                        <div class="category-widget">
                            <ul>
                                {% for categorie in categories %}
                                <a href="{% url 'blog' %}?categorie={{categorie.id}}"><li>{{ categorie.nom }}</a><span>({{categorie.article_set.all.count}})</span></li></a>
                                
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                   

                    <div class="sidebar-widget">
                        <h2 class="widget-title">Tags</h2>
                        <div class="tag-widget">

                            <ul>
                            {% for tag in tags %}
                            <li>{{ tag.nom }}</li>
                            {% endfor %}
                            </ul>

                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}