{% extends 'base.html' %}

{% block content %}
<div class="px-5">
    <h1 class="mb-5 text-center">NOUS SOUTENIR</h1>
    <h5 class="mb-1">COMMENT NOUS SOUTENIR?</h5>
    <p>AVS-TOGO, est une association entièrement indépendante et qui ne reçoit aucune subvention de l’état ou d’autres sources. Les cotisations de nos membres togolais et les frais de participation des volontaires servent à financer entièrement les activités humanitaires de l’association; donc nous comptons aussi sur vos dons pour nous aider dans l’avancement de nos activités.</p>

    <p>Il y a plusieurs façons de soutenir nos projets et nos activités:</p>
    <ul>
        <li>Financièrement</li>
        <li>Logistiquement;</li>
        <li>Partenariat;</li>
        <li>Soutien moral;</li>
        <li>Devenir Membre</li>
    </ul>
    <br>

    <h5 class="mb-1">SOUTIEN FINANCIER</h5>
    <p>Le soutien financier est essentiel à la AVS-TOGO. La totalité des fonds récoltés servent à améliorer les conditions de vie des populations des villes et villages que nous comptons aider par nos actions. C’est un moyen pour vous d’aider véritablement une population vraiment démunie des fois même du minimum social sans prendre part directement à la vie de l’association.</p>
    <br>
    <p>
        Alors si vous le souhaitez, envoyez vos dons à l’ordre de :
        Associations des Volontaires Solidaires  AVS-TOGO
        Contactez-nous:
    </p>
    <h3 style="font-weight: bold;text-align:center;">Tél: +(228) 91 10 68 91 +(228) 97 46 40 99 / E-mail : avstogoassociation@gmail.com
    </h3>

    <br><br>

    <h5 class="mb-1">SOUTIEN LOGISTIQUE</h5>
    <p>
        Si par votre activité vous pensez pouvoir aider AVS-TOGO, n’hésitez pas à nous contacter. Nous étudierons ensemble les modalités de notre collaboration. Nous recherchons aussi pour notre projet de Cyber Centre pour Jeunes(CCJ) du matériel bureautique (ordinateurs, imprimantes…). Nous comptons sur toute collaboration de tout organisme ou particulier pouvant nous venir en aide.
    </p>
    <br>

    <h5 class="mb-1">PARTENARIAT</h5>
    <p>
        AVS-TOGO s’est donné pour mission l’établissement d’un véritable partenariat avec une entreprise privée ou publique, une association, une ONG….
        Pour la réalisation de nos projets, nous souhaiterions voir s’investir une équipe de volontaires actifs dans tous nos domaines d’actions. Pour cela nous étudierons toute proposition de partenariat. Faites nous part de vos idées en la  matière.
        Merci de nous contacter  par mail, par courrier, ou par téléphone.
    </p>
    <br>

    <h5 class="mb-1">SOUTIEN MORAL</h5>
    <p>
        Vous pouvez aider AVS-TOGO par vos conseils. D’un rien on peut faire beaucoup de choses,  une information de votre part peut parfois représenter une richesse insoupçonnée. Votre soutien moral peut nous être vital.
    </p>
    <br>
</div>
{% endblock %}