{% extends 'base.html' %}

{% load static %}
{% block content %}

<!--<div class="px-5">
    <h1 class="text-center mb-5">INFORMATIONS CONCERNANT LE STAGE</h1>
    <p>En dehors des camps chantiers internationaux, AVS-TOGO peut accueillir des volontaires stagiaires, pour des stages de fin d’étude ou pour des missions humanitaires dans le cadre des occasions de volontariat à moyen et à long terme dans les domaines suivants :</p>

    <h3 class="mt-2">Education:</h3>
    <ul>
        <li>Enseignant</li>
        <li>Professeur</li>
        <li>Animateur ou encadreur d’enfants</li>
        <li>Educateur spécialisé</li>
        <li>Instituteur</li>
        <li>Pré instituteur</li>
    </ul>

    <h3 class="mt-2">Santé:</h3>
    <ul>
        <li>Médecin</li>
        <li>Infirmière</li>
        <li>Educateur spécialisé pour la sensibilisation au VIH-SIDA, à l’hygiène</li>
        
    </ul>

    <h3 class="mt-2">Environnement:</h3>
    <ul>
        <li>Educateur spécialisé pour des missions de sensibilisation éducative sur la gestion des déchets solides et liquides</li>
        <li>Educateur spécialisé pour la protection de l’environnement</li>
        <li>Reboisement…</li>
        
    </ul>

    <h3 class="mt-2">Art et Culture:</h3>
    <ul>
        <li>Architecture</li>
        <li>Promoteur de la valeur de l’art et de la culture</li>
        <li>Peinture</li>
        
    </ul>


    <h3 class="mt-2">Profil:</h3>
    <ul>
        <li>Étudiant (es) ou jeunes diplômés (es) désirant faire un stage bénévole en Afrique francophone. (Milieu urbain et/ou milieu rural)</li>
        
        
    </ul>

    <h3>Domaines:</h3>
    <ul>
        <li>Des stages de tout domaine peuvent être organisés : éducation, santé, environnement, art, commerce international</li>  
    </ul>

    <h3 class="mt-2">Types de mission:</h3>
    <ul>
        <li>Selon le niveau d’implication désiré par le candidat, AVS-TOGO peut élaborer une mission liée à votre domaine d’étude ou faciliter la mise en œuvre de votre micro projet en vous aidant à rencontrer les professionnels togolais de votre profil.
            Vous pouvez aussi  avoir simplement envie d’observer et de pratiquer dans le cadre de votre cursus (par exemple cas d’une étudiante sage-femme souhaitant pratiquer des accouchements)</li>  
    </ul>

    <h3 class="mt-2">Etapes conduisant à un stage:</h3>
    <p>Nous échangeons des mails suite à une candidature spontanée ou une candidature répondant à une annonce.
        En cas de candidature spontanée, vous devez nous communiquez vos objectifs précis dans une lettre de motivation annexée de votre CV.</p>
    <ul>
        <li>Avec ces pièces du dossier AVS-TOGO étudie la possibilité de se substituer à vous localement pour chercher  un lieu de stage (un hôpital urbain ou rural, une ONG, une association, une entreprise publique ou privée)</li>
        <li> En cas de succès dans notre recherche, AVS-TOGO vous confirme sa capacité à organiser votre stage.</li>
        <li> Lorsque  AVS-TOGO aura reçu un accord écrit de la structure qui vous accepte en stage, une convention d’organisation de stage vous sera expédiée par la poste avec les modalités détaillées ou envoyée par mail en pièce jointe.</li>
        <li>Avec notre fiche d’inscription et notre convention d’organisation de stage, vous vous rapprochez de votre établissement pour nous faire expédier votre convention de stage que nous retournerons signée. Il y aura donc 2 conventions</li>
        <li> Lorsque le stage se fait à votre seule initiative, seule la convention d’organisation de stage que  AVS-TOGO vous aura expédiée par la poste ou mail sera à signer (délai d’acheminement par poste aller/retour 3 semaines !).</li>

        <li>Parmis les documents que  la AVS-TOGO  vous enverra se trouvera un budget approximatif du stage prenant en compte tous les frais que vous aurez dans la convention.</li>
        <li>Une lettre d’invitation vous sera également délivrée si nécessaire pour les formalités de demande de visa ou de bourse.</li>


    </ul>

    <p>
        NB : Le projet dans sa totalité n’est pas financé. Il est à noter que le travail n’est pas rémunéré, c’est un travail bénévole. De plus, en fonction de la capacité du volontaire, il/elle pourra apporter quelques aides matérielles au projet et à l’association
    </p>

    <h3 class="mt-2">C’est Un Echange Entre:</h3>
    <ul>
        <li> Une personne qui offre son temps, son travail et sa force au service d’un projet d’intérêt général</li>
        <li> Et une communauté d’accueil qui est le bénéficiaire du projet  ou de l’action humanitaire.</li>

    </ul>
    <p>
        Les volontaires stagiaires ne sont pas des employés, ils ne reçoivent pas de salaire. Le service volontaire n’est pas un moyen de gagner sa vie au sens financier du terme mais de s’enrichir d’une manière tout en apportant sa contribution à un projet collectif. Il constitue un moyen efficace d’éducation et de formation complémentaire mais surtout c’est un stage de vie que nous proposons à nos volontaires stagiaires
    </p>

    <h3 class="mt-5 mb-2">Etre Volontaire  À Moyen Ou À Long  Terme C’est:</h3>
    <p>
        Un engagement personnel, pour connaître l’intérieur d’une culture et de vivre au sein d’une équipe afin d’assimiler les objectifs d’un projet.
Quitter son environnement familier et s’adapter à un autre cadre de vie avec les habitants  et des méthodes de travail et de communication ainsi que des langues différents. Le volontariat à moyen ou à long terme est ouvert à tous quelque soit sa compétence et sa situation. Seule  une démarche volontaire est nécessaire.
    </p>


</div>-->

<div class="p-5 row justify-content-between">

    <div class="h g mt-5 d-flex justify-content-center align-items-center" style="width:400px;height:600px;background:url({% static 'img/mobilite.jpeg' %});background-size:cover">
        <div class='d-flex w-100 h-100 d-flex justify-content-center align-items-center' style='background:rgb(0,0,0,0.5)'>
            <h3 class="text-white text-center p-4">Coordination Associative</h3>
        </div>
        
    </div>

    <div class="h g mt-5 d-flex justify-content-center align-items-center" style="width:400px;height:600px;background:url({% static 'img/faille.png' %});background-size:cover">
        
        <div class='d-flex w-100 h-100 d-flex justify-content-center align-items-center' style='background:rgb(0,0,0,0.5)'>
            <h3 class="text-white text-center p-4">Gestion de projets culturels et touristiques</h3>
        </div>
    </div>

    <div class="h g mt-5 d-flex justify-con tent-center align-items-center" style="width:400px;height:600px;background:url({% static 'img/reunion.jpg' %});background-size:cover">
        
        <div class='d-flex w-100 h-100 d-flex justify-content-center align-items-center' style='background:rgb(0,0,0,0.5)'>
            <h3 class="text-white text-center p-4"> Domaine médical et paramédical </h3>
        </div>
    </div>

    <div class="h g mt-5 d-flex justify-content-center align-items-center" style="width:400px;height:600px;background:url({% static 'img/forage.jpg' %});background-size:cover">
        <div class='d-flex w-100 h-100 d-flex justify-content-center align-items-center' style='background:rgb(0,0,0,0.5)'>
            <h3 class="text-white text-center p-4">GDroits de l’Homme</h3>
        </div>
    </div>

    <div class="h g mt-5 d-flex justify-content-center align-items-center" style="width:400px;height:600px;background:url({% static 'img/lessive.png' %});background-size:cover">
        
        <div class='d-flex w-100 h-100 d-flex justify-content-center align-items-center' style='background:rgb(0,0,0,0.5)'>
            <h3 class="text-white text-center p-4">Ingénierie </h3>
        </div>
    </div>

    <div class="h g mt-5 d-flex justify-content-center align-items-center" style="width:400px;height:600px;background:url({% static 'img/crane.jpeg' %});background-size:cover">
        <div class='d-flex w-100 h-100 d-flex justify-content-center align-items-center' style='background:rgb(0,0,0,0.5)'>
            <h3 class="text-white text-center p-4">Psychologie </h3>
        </div>
    </div>

    <div class="h g mt-5 d-flex justify-con tent-center align-items-center" style="width:400px;height:600px;background:url({% static 'img/kara.jpg' %});background-size:cover">
        <div class='d-flex w-100 h-100 d-flex justify-content-center align-items-center' style='background:rgb(0,0,0,0.5)'>
            <h3 class="text-white text-center p-4"> Agroécologie et permaculture </h3>
        </div>
    </div>

    <div class="h g mt-5 d-flex justify-content-center align-items-center" style="width:400px;height:600px;background:url({% static 'img/distribution.jpg' %});background-size:cover">
        <div class='d-flex w-100 h-100 d-flex justify-content-center align-items-center' style='background:rgb(0,0,0,0.5)'>
            <h3 class="text-white text-center p-4"> Journalisme presse écrite et radio </h3>
        </div>
    </div>
    <div class="h g mt-5 d-flex justify-content-center align-items-center" style="width:400px;height:600px;background:url({% static 'img/budget.jpg' %});background-size:cover">
        <div class='d-flex w-100 h-100 d-flex justify-content-center align-items-center' style='background:rgb(0,0,0,0.5)'>
            <h3 class="text-white text-center p-4"> Banque, Comptabilité, Finance </h3>
        </div>
    </div>

    <div class="h g mt-5 d-flex justify-content-center align-items-center" style="width:400px;height:600px;background:url({% static 'img/regroupement.jpg' %});background-size:cover">
        <div class='d-flex w-100 h-100 d-flex justify-content-center align-items-center' style='background:rgb(0,0,0,0.5)'>
            <h3 class="text-white text-center p-4">Éducation et travail social </h3>
        </div>
    </div>

    <div class="h g mt-5 d-flex justify-con tent-center align-items-center" style="width:400px;height:600px;background:url({% static 'img/plage.png' %});background-size:cover">
        <div class='d-flex w-100 h-100 d-flex justify-content-center align-items-center' style='background:rgb(0,0,0,0.5)'>
            <h3 class="text-white text-center p-4">Logistique </h3>
        </div>
    </div>

    <div class="h g mt-5 d-flex justify-content-center align-items-center" style="width:400px;height:600px;background:url({% static 'img/rue.png' %});background-size:cover">
        <div class='d-flex w-100 h-100 d-flex justify-content-center align-items-center' style='background:rgb(0,0,0,0.5)'>
            <h3 class="text-white text-center p-4">Gestion de projets culturels et touristiques</h3>
        </div>
    </div>

    <style>
        
        @media only screen and (max-width: 1080px) {
            
            .g{
               /* width:2000px;
                background:red; 
                border:1px solid red;*/
                margin:0 auto;
                
                
            }
          }
    </style>

</div>

{% endblock %}