{% extends 'base.html' %} {% load static %} {% block content %}

<div class="px-5">
    <h1 class="text-center">A la découverte du Togo, l’Afrique en miniature</h1>
    <p>Le Togo est un petit pays mais riche en diversité de paysages, d’ethnies, de traditions. On peut y découvrir de nombreuses cascades paradisiaques, d’incroyables maisons, produits artisanaux… De plus, les Togolais sont très accueillants et de ce fait
        il existe une proximité privilégiée entre les visiteurs et les locaux.</p>

    <div class="d-flex mt-5" style="display:flex;flex-wrap: wrap;border:0px solid red;">

        <div style="min-width:200px;flex:6;">
            <h5>LA REGION MARITIME</h5>
            <p>Le Togo est bordé au sud par la région maritime, zone côtière basse et sablonneuse. On y découvre les villages de pêcheurs le long des côtes et du lac Togo. C’est dans cette région qu’on exploite le phosphate. Les villes principales sont Lomé,
                Aného, Agbodrafo, Vogan. A ne pas manquer
            </p>
            <p>>> La ville de Togoville et le lac Togo, Aného, Lomé et son grand marché.
            </p>
        </div>

        <div style="min-width:200px;flex:4;">
            <img class="img-fluid" src="{% static 'img/carousel-2.jpg' %}" alt="Image">
        </div>


    </div>

    <h5>LA REGION DES PLATEAUX</h5>




</div>
{% endblock %}